
/* Thêm CSS để tùy chỉnh giao diện menu và thông tin liên hệ */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav li{
    list-style: none;
}
header {
    background-color: #1bd894cc;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.contact-info {
    display: flex;
    align-items: center;
    color: black;

}

.contact-info p {
    margin: 0 15px; /* Khoảng cách giữa các phần tử trong hàng ngang */
}
nav {
    display: flex;
    justify-content: center; /* Căn giữa nội dung trong thẻ <nav> */
    margin: 0 25%; /* Khoảng cách 2 bên lề */
    background-color: #555;
    padding: 20px;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #555;
    padding: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav a i {
    margin-left: 7px;
}

nav a:hover {
    text-decoration: underline;
}

/* Thêm CSS cho menu con */
.submenu {
    display: none;
}

nav li:hover .submenu {
    display: block;
    position: absolute;
    background-color: #555;
    list-style-type: none;
    padding: 0;
}

.submenu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}


.b {
  animation:backwards;
  position: absolute;
  width: 1072px;
  height: 223px;
  left: 536px;
  right: 500px;
  object-fit: cover;
}

 .overlap-group-2 {
    position: absolute;
    width: 1072px;
    height: 566px;
    top: 360px;
    left: 536px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
   .image-solid {
    position: absolute;
    width: 452px;
    height: 293px;
    top: 22px;
    left: 53px;
  }
  
   .image-solid-2 {
    position: absolute;
    width: 204px;
    height: 153px;
    top: 205px;
    left: 634px;
  }
  
   .image-solid-3 {
    position: absolute;
    width: 204px;
    height: 153px;
    top: 376px;
    left: 634px;
  }
  
   .image-solid-4 {
    position: absolute;
    width: 204px;
    height: 153px;
    top: 34px;
    left: 634px;
  }
  
   .text-wrapper-5 {
    width: 323px;
    top: 321px;
    left: 138px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
   .overlap-5 {
    position: absolute;
    width: 229px;
    height: 113px;
    top: 49px;
    left: 976px;
  }
  
   .text-wrapper-6 {
    position: absolute;
    width: 229px;
    top: 0;
    left: -120px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
   .text-wrapper-7 {
    width: 229px;
    top: 225px;
    left: 860px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
   .text-wrapper-8 {
    width: 229px;
    top: 397px;
    left: 860px;
    position: absolute;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
 .rectangle {
    position: absolute;
    width: 100%;
    height: 112px;
    top: 1000px;
    
    background-color: #3a3a3a;
  }
